@media only screen and (max-width:700px){
    .containerr{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card_container{
        width: 85vw;
    }
    .box{
        width: 80vw;
    }
    .box ul li audio{
        width: 78vw;
    }
    .navbar{
        display: none;
    }
}
 